{% extends 'base/base.html' %}
{% block title %}Produccion de leche{% endblock %}
{% block content %}
<div class="container">
    <div class="card" style="margin-top: 10px;">
        <div class="card-header" style="background-color: rgb(62, 115, 184); color:white; font-size: 18px;">
            Produccion de leche
            <!-- {% block boton-crear %}<a href="#" class="btn btn-outline-warning btn-sm boton-crear">Nuevo registro</a>{% endblock %} -->
        </div>
        <div class="card-body">
            <table id="example" class="display compact" style="font-size: 13px;">
                {% if object_list %}
              <thead>
                  <tr>
                      <th>Fecha</th>
                      <th>Litros vendidos</th>
                      <th>Litros consumo</th>
                      <th>Litros Totales</th>
                      <th>Litros x VO</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                {% for leche in object_list %}
                  <tr>
                      <td>{{leche.fecha}}</td>
                      <td>{{leche.lts_venta}}</td>
                      <td>{{leche.lts_consumo}}</td>
                      <td>{{leche.litros_totales}}</td>
                      <td>{{leche.litros_vo | floatformat:2}}</td>
                      <td><a href="{% url 'produccion:registro_editar' leche.id %}" class="btn btn-warning btn-sm">Editar</a>
                      <a href="{% url 'produccion:registro_eliminar' leche.id %}" class="btn btn-danger btn-sm">Borrar</a></td>
                  </tr>      
              </tbody>
              {% endfor %}
              {% else %}
              <h3>No hay registros cargados en el sistema</h3>
              {% endif %}
        </div>
          </table>
    </div>
</div>
{% endblock content %}