{% extends 'base/base.html' %}
{% block title %}Carga de datos{% endblock %}
{% block content %}
<div class="container">
    <div class="card" style="margin-top: 10px;">
        <div class="card-header" style="background-color: rgb(71, 79, 90); color:white; font-size: 18px;">
            Carga de datos de produccion
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <table>{{form.as_p}}</table>
                <br>
            <button type="submit" class="btn btn btn-success">Registrar/Modificar</button>
            <a class="btn btn btn-warning" href="{% url 'produccion:registro_list' %}">Volver a registros</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}